
  .full-width-table {
    width: 100%;
  }
  .btn{
    border-radius: 10px;
  }
  th{
    padding-left: 60px;
  }
  .contacts{
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
  }