<section id="events" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Event Table</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="event-table-item">
          <div class="plan-name">
            <h3>Event 1</h3>
          </div>
          <div class="plan-price">
            <div class="price-value">Rs. 1000</div>
            <div class="interval">per event</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-check"></i>Event ID</li>
              <li><i class="fa fa-check"></i>Event Name</li>
              <li><i class="fa fa-check"></i>Date</li>
              <li><i class="fa fa-check"></i>Venue</li>
            </ul>
          </div>
          <div class="plan-signup">
            <a href="#" class="btn btn-common">Get Registered</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="event-table-item table-active">
          <div class="plan-name">
            <h3>Event 2</h3>
          </div>
          <div class="plan-price">
            <div class="price-value">Rs. 1000</div>
            <div class="interval">per event</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-check"></i>Event ID</li>
              <li><i class="fa fa-check"></i>Event Name</li>
              <li><i class="fa fa-check"></i>Date</li>
              <li><i class="fa fa-check"></i>Venue</li>
            </ul>
          </div>
          <div class="plan-signup">
            <a href="#" class="btn btn-common">Get Registered</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="event-table-item">
          <div class="plan-name">
            <h3>Event 3</h3>
          </div>
          <div class="plan-price">
            <div class="price-value">Rs. 1000</div>
            <div class="interval">per event</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-check"></i>Event ID</li>
              <li><i class="fa fa-check"></i>Event Name</li>
              <li><i class="fa fa-check"></i>Date</li>
              <li><i class="fa fa-check"></i>Venue</li>
            </ul>
          </div>
          <div class="plan-signup">
            <a href="#" class="btn btn-common">Get Registered</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
