.report{
    padding-left: 400px;
    padding-top: 30px;
    padding-right: 550px;
    padding-bottom: 20px;
}

.head{
padding-left: 50px;
padding-bottom: 10px;
}

.button{
    padding-left: 20px;
}
.updprof{
    padding-left: 300px;
    padding-right: 250px;
    padding-bottom: 50px;
    padding-top: 10px;
  }
  .hed{
    padding-left: 200px;
}