
<app-navbar></app-navbar>


<!-- <app-contact></app-contact> -->
<router-outlet></router-outlet>

<!-- Footer Section -->
<footer class="footer">
  <!-- Container Starts -->
  <div class="container">
    <!-- Row Starts -->
    <div class="row section">
      <!-- Footer Widget Starts -->
      <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn">
        <h3 class="small-title">
          About Us
        </h3>
        <p>
          As a company our mission is to serve you well.  
        </p>
        <div class="social-footer">
          <a href="https://www.facebook.com/isurie.liyanage"><i class="fa fa-facebook icon-round"></i></a>
          <a href="#"><i class="fa fa-twitter icon-round"></i></a>
          <a href="https://www.linkedin.com/in/isurie-kanchana/"><i class="fa fa-linkedin icon-round"></i></a>
          <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
        </div>
      </div>
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".2s">
        <h3 class="small-title">
          Links
        </h3>
        <ul class="menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Works</a></li>
          <!-- <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li> -->
        </ul>
      </div>
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">
        <h3 class="small-title">
          GALLERY
        </h3>
        <div class="plain-flicker-gallery">
          <a href="#"><img src="assets/img/flicker/img1.jpg" alt=""></a>
          <a href="#"><img src="assets/img/flicker/img2.jpeg" alt=""></a>
          <a href="#"><img src="assets/img/flicker/img3.jpeg" alt=""></a>
          <a href="#"><img src="assets/img/flicker/img4.jpeg" alt=""></a>
          <a href="#"><img src="assets/img/flicker/img5.jpeg" alt=""></a>
          <a href="#"><img src="assets/img/flicker/img6.jpeg" alt=""></a>
        </div>
      </div>
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".8s">
        <h3 class="small-title">
          RATE US 
        </h3>
        
      </div>
      <!-- Footer Widget Ends -->
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->

  <!-- Copyright -->
  <!-- <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <ul class="nav nav-inline  justify-content-end ">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sitemap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms of services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
<!-- Copyright  End-->


  <!-- <li>
    <a class="nav-link" routerLink="/chatapp" routerLinkActive="active">
      <i class="fa fa-phone" aria-hidden="true"></i>Chat
    </a>
  </li> -->

</footer>
<!-- Footer Section End-->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="fa fa-arrow-up"></i>
</a>

