<div class="print">

<br><br><br><br><br><br><br><br><br>
<label><h2>MEMBERSHIP REPORT</h2></label><br>
        <br>
         <h3>I certify that the Mr/Miss/Mrs {{member.fname}} {{member.lname}} is an active member of our organization</h3>
        
<br><br><br><br>
   <p>             ........................</p>
<h3>             President</h3>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<button (click)="print()">Print</button>
