<div id="team" class="team-members-tow section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Our Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <figure>
          <img src="assets/img/team/team-05.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Akila Dilan</strong>
                <span>Software Developer</span>
              </div>
              <hr class="small-divider">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <figure>
          <img src="assets/img/team/team-06.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Imran Zarook</strong>
                <span>Software Developer</span>
              </div>
              <hr class="small-divider">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <figure>
          <img src="assets/img/team/team-07.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Suhadini Kaluarachchi</strong>
                <span>Software Developer</span>
              </div>
              <hr class="small-divider">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <figure>
          <img src="assets/img/team/team-08.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Ashinka</strong>
                <span>Software Developer</span>
              </div>
              <hr class="small-divider">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <figure>
          <img src="assets/img/team/team-09.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Isuri</strong>
                <span>Software Developer</span>
              </div>
              <hr class="small-divider">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
